<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>coursesdemo</title>
    {% include './header.html' %}
  </head>
  <body>
    <div class="container">


      <h1>Add a new course</h1>
      <form action= "/create" method="post">
        {% csrf_token %}
        <div class="form-group">
          <label for= "name">Name:</label>
          <input type="text" name="name" class="form-control"/>
        </div>
        <div class="form-group">
          <label for="desc">Description:</label>
          <textarea cols="40" rows="4" name="desc" class="form-control"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Add!</button>
      </form>
      <table class="table table-striped">
        <thead>
          <th>Course name</th>
          <th>Description</th>
          <th>Date added</th>
          <th>Actions</th>
        </thead>
        <tbody>
          {% for course in courses %}
          <tr>

            <td>{{course.name}}</td>
            <td>{{course.description.text}}</td>
            <td>{{course.created_at}}</td>
            <td><a href="/confirmdelete/{{course.id}}">Remove</a></td>
            <td><a href="/viewcomments/{{course.id}}">View comments</a></td>

          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </body>
</html>
